Flask==1.0.2
flask-login==0.4.1
flask-sqlalchemy==2.3.2
flask-wtf==0.14.2
pymysql==0.9.2
sqlalchemy==1.2.11
jinja2==2.10
celery==3.1.2
redis==2.10.6
kombu==3.0.37
ansible==2.4.2.0
PyYAML==3.12
pyparsing==2.2.0