{% extends '_layout.html' %}
{% block title %} 主页{% endblock %}
{% block main %}
    <div class="container">
    <div class="row">
        <div class="col-md-12">
               <div class="panel panel-default">
                   <div class="panel-heading">最近发布列表</div>
                    <table id="tbList" class="table table-bordered">
                    </table>
               </div>
        </div>
    </div>

    </div>


<script type="text/javascript">
    $(function () {
         $('#tbList').bootstrapTable({
            url: '{{ url_for("deploy_view.get_pending_list") }}',  // 请求数据源的路由
            dataType: "json",
            pagination: true, //前端处理分页
            singleSelect: false,//是否只能单选
            search: false, //显示搜索框，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            toolbar: '#toolbar', //工具按钮用哪个容器
            striped: true, //是否显示行间隔色
            cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pageNumber: 1, //初始化加载第10页，默认第一页
            pageSize: 10, //每页的记录行数（*）
            pageList: [10, 20, 50, 100], //可供选择的每页的行数（*）
            //strictSearch: true,//设置为 true启用 全匹配搜索，false为模糊搜索
            showColumns: true, //显示内容列下拉框
            showRefresh: true, //显示刷新按钮
            minimumCountColumns: 2, //当列数小于此值时，将隐藏内容列下拉框
            clickToSelect: true, //设置true， 将在点击某行时，自动勾选rediobox 和 checkbox
            {#        height: 500, //表格高度，如果没有设置height属性，表格自动根据记录条数决定表格高度#}
            uniqueId: "userid", //每一行的唯一标识，一般为主键列
            showToggle: false, //是否显示详细视图和列表视图的切换按钮
            cardView: false, //是否显示详细视图
            //detailView: true, //是否显示父子表，设置为 true 可以显示详细页面模式,在每行最前边显示+号
            sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
            columns: [{  //定义表头,这个表头必须定义,下边field后边跟的字段名字必须与后端传递的字段名字相同.如:id、name、price　跟后端的字段名id  name price是完全一样的.
                field: 'app_id',
                title: '应用',
                align: 'center',  //对齐方式，居中
{#                width: '200px'  // 可以写各种样式#}
            }, {
                field: 'app_version',
                title: '版本',
                align: 'center',

            }, {
                field: 'env_id',
                title: '环境',
                align: 'center',

            }, {
                field: 'created_at',
                title: '创建时间',
                align: 'center',

            }, {
                field: 'created_by',
                title: '创建人',
                align: 'center'
            }, {
                field: 'deploy_result',
                title: '发布结果',
                align: 'center',

            }, {
                field: 'wf_status',
                title: '阶段',
                align: 'center',

            }
            ],
             onExpandRow: function (index, row, $detail) {
                 alert(1);
             }
        });
    })


    function refershHostList() {
        $('#tbhostlist').bootstrapTable('refresh');
    }

     $('#btnAdd').click(function () {
        layer.open({
          type: 2,
          title: '创建发布任务',
          shadeClose: false,
          shade: 0.8,
          area: ['800px', '60%'],
          content: '{{ url_for('wf_view.add_deploy') }}'
        });
    })
</script>
{% endblock %}